In [1]:
import pandas as pd

df = pd.read_csv('mobile_usage_behavioral_analysis.csv')
df.head()

,User_ID,Age,Gender,Total_App_Usage_Hours,Daily_Screen_Time_Hours,Number_of_Apps_Used,Social_Media_Usage_Hours,Productivity_App_Usage_Hours,Gaming_App_Usage_Hours,Location
0,1,56,Male,2.61,7.15,24,4.43,0.55,2.40,Los Angeles
1,2,46,Male,2.13,13.79,18,4.67,4.42,2.43,Chicago
2,3,32,Female,7.28,4.50,11,4.58,1.71,2.83,Houston
3,4,25,Female,1.20,6.29,21,3.18,3.42,4.58,Phoenix
4,5,38,Male,6.31,12.59,14,3.15,0.13,4.00,New York

In [2]:
onlyNums = df.drop(columns=["User_ID", "Gender", "Location"])
onlyNums.describe() # na razie to placeholder

d = pd.DataFrame(columns=onlyNums.columns)
srednie = []
mediany = []
for f in range(0,onlyNums.shape[1]):
    srednie.append(onlyNums.iloc[:,f].mean())
    mediany.append(onlyNums.iloc[:,f].median())

d.loc["średnia"] = srednie
d.loc["mediana"] = mediany
#d.index = ["średnia", "mediana"]
print(d)

            Age  Total_App_Usage_Hours  Daily_Screen_Time_Hours  \
średnia  38.745                6.40567                  7.69631
mediana  40.000                6.45500                  7.88000

         Number_of_Apps_Used  Social_Media_Usage_Hours  \
średnia               16.647                   2.45633
mediana               17.000                   2.44500

         Productivity_App_Usage_Hours  Gaming_App_Usage_Hours
średnia                       2.49527                 2.47541
mediana                       2.43500                 2.45500

In [3]:
import seaborn as sns
import matplotlib.pyplot as plt

""" pairploty nic nie dają, to po prostu chaotyczne wypełnienie kropkami (są zbyt ogólne)
sns.pairplot(df.drop(columns=["User_ID", "Gender"]), kind="scatter", hue="Location")
plt.show()
sns.pairplot(df.drop(columns=["User_ID", "Location"]), kind="scatter", hue="Gender")
plt.show()
"""

' pairploty nic nie dają, to po prostu chaotyczne wypełnienie kropkami (są zbyt ogólne)\nsns.pairplot(df.drop(columns=["User_ID", "Gender"]), kind="scatter", hue="Location")\nplt.show()\nsns.pairplot(df.drop(columns=["User_ID", "Location"]), kind="scatter", hue="Gender")\nplt.show()\n'

In [4]:

sns.heatmap(only_numbers.corr(),annot = only_numbers.corr())
plt.show()

NameError: name 'only_numbers' is not defined